<ul>
    <li> <%= link_to "#{request.base_url}/#{@link.slug}", "#{request.base_url}/#{@link.slug}", id: "short-link" %> - <%= @link.url %></li>
</ul>
<%= link_to '<button>Create another link</button>'.html_safe, root_path %>
